<div class="row">
    <div class="sm-col-12">
    <h3 contenteditable="true" style="font-family:BentonSans Medium; text-align:center; color:rgb(0,38,99);"> <%= name %></h3>                    
    <hr style="border-top: dotted 2px;color:grey" />
    </div>
</div>
